html, body {
    height: 100%;
    overflow: hidden;
}
body{
    margin:0px;
	background-color: #fff;
	font-family: arial, helvetica, sans-serif;
}
* { /* remove input focus highlighting */
	outline: none;
}
#fixed-cont {
    width:100%;
    position:fixed;
    top:0px;
    height: 100%;
}
#topbar {
    height:108px;
    width: 100%;
}
#content {
    width: calc(100%-202px);
    margin-top: 0px;
    margin-left: 202px;
    overflow: auto;
    height: calc(100% - 108px);
    padding-right: 30px;
    /* margin-right: 30px; */
}
#sidebar {
	margin-top: 117px;
	width: 202px;
	height:100%;
	position: relative;
}

#top {
    /* height:44px; */
    height: 59px;
    background-color:#f1f1f1;
    border-bottom: 1px solid #e5e5e5;
}
#top-logo {
    width: 143px;
    height: 57px;
    margin-left:30px;
    margin-right:29px;
    margin-top: 1px;
    float:left;
}
#top-logo a svg {
    max-width: 100%;
    height: auto;
    margin-top: 11px;
}
#top-arrow {
	float:left;
	width:13px;
	height:28px;
	background-color:#fff;
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	margin-top: 15px;
}
#top-arrow svg {
    margin-top: 12px;
    margin-right: 6px;
}
input.search {
    box-sizing: border-box;
    border-top: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    border-right: none;
    text-indent: 13px;
    float:left;
    width:577px;
    height:30px;
    background-color:#fff;
    font-size:17px;
    margin-top: 15px;
}
input.search:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #4988ef;
}
#top-magnify {
	float:left;
	width:60px;
	height:22px;
	background-color:#4988ef;
	border-radius: 0px 4px 4px 0px;
	padding-top: 8px;
	margin-top: 15px;
}
#top-magnify svg {
	margin:0 auto;
	display:block;
}
#top-profile {
    float:right;
    margin-top:-1px;
    margin-right:30px;
    margin-left:19px;
    cursor: pointer;
	margin-top: 15px;
}
#top-notify {
	float:right;
    display: block;
    width: 20px;
    height: 20px;
	margin-top: 20px;

}
#top-apps {
	float:right;
	margin-right:26px;
	width:16px;
	height:16px;
	cursor: pointer;
	margin-top: 22px;
}

#mid {
	height:47px;
	border-bottom: 1px solid #e5e5e5;
}
#mid-title {
	color: #d9453d;
	margin-left: 32px;
	margin-top: 11px;
	float: left;
	font-size: 19px;
	width: 47px;
}
#mid-arrow {
    margin-top:11px;
    margin-right: 116px;
    float: left;
}
.mid-box {
	float: left;
	margin-top: 9px;
	width: 70px;
	height: 27px;
	margin-right: 16px;
	background-color: #f3f3f3;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
}
#mid-box-sqr {
	margin-top:6px;
	margin-left:20px;
	margin-right:7px;
	width:11px;
	height:11px;
	border: 1px solid #c1c1c1;
	float:left;
}
.mid-box-arw {
	float: left;
	margin-top:11px;
}
#mid-box-refresh {
	float: left;
	margin-top:7px;
	margin-left: 28px;
}
#mid-box-more {
    margin-left: 17px;
    margin-top: 7px;
    margin-right: 3px;
	font-size: 11px;
	font-weight: bold;
	float: left;
}
#mid-box-rgt {
	float: right;
	margin-top: 9px;
	margin-right:16px;
	width:34px;
	height: 27px;
	background-color: #f4f4f4;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	border-radius: 0px 4px 4px 0px;
    border-left: none;
}
#mid-box-rgt svg {
	margin-left: 14px;
	margin-top: 7px;
}
.after-arw {
	fill: #707172;
}
#mid-box-lft {
	float: right;
	margin-top: 9px;
	width:34px;
	height: 27px;
	background-color: #f4f4f4;
	border: 1px solid #d9d9d9;
	border-radius: 4px 0px 0px 4px;
}
#mid-box-lft svg {
	margin-left: 13px;
	margin-top: 7px;
}
.before-arw {
	fill: #A3A4A4;
}
.before-arw-prev {
	fill: #707172;
}
#mid-box-gear {
	float: right;
	margin-top: 9px;
	margin-right: 30px;
	width:70px;
	height: 27px;
	background-color: #f4f4f4;
	border-radius: 4px;
	border: 1px solid #d9d9d9;
}
#mid-box-gear:hover, .mid-box:hover, #mid-box-rgt:hover {
    border-color: #c6c6c6 !important;
}
.before-lft:hover {
    border-color: #c6c6c6 !important;
}
#gear {
	margin-top: 5px;
	margin-left: 22px;
	margin-right: 5px;
	float: left;
}
#mid-box-qty {
	float:right;
	font-size:13px;
	font-weight:bold;
	margin-top:15px;
	margin-right:9px;
}
#mid-box-qty span {
	font-weight:normal;
}

#compose {
	width: 115px;
	height: 20px;
	margin-left: 31px;
	margin-bottom: 8px;
	background-color: #d9453d;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	padding-top: 9px;
}
.active-brdr {
	width: 10px;
	height: 28px;
	border-left: 4px solid #d9453d;
	float: left;
}
#inbox {
	width: 154px;
	height: 21px;
    float: left;
	padding-left: 18px;
	padding-top: 7px;
	color: #d9453d;
	font-weight: bold;
	font-size: 10pt;
}
.brdr {
	width: 14px;
	height: 28px;
	float: left;
}
.label {
	width: 154px;
	height: 21px;
	padding-left: 18px;
	padding-top: 7px;
	font-size: 10pt;
	float: left;
}
.clr {
	clear: both;
}
.lbl-arw {
	width: 166px;
	height: 21px;
	padding-left: 6px;
	padding-top: 7px;
	font-size: 10pt;
	float: left;
}
.lbl-arw svg {
	margin-right: 7px;
	margin-top: 4px;
	float: left;
}
.lbl-spc {
	margin-bottom: 6px;
}
.label:hover, #inbox:hover, .lbl-arw:hover {
	background-color: #eeeeee;
	cursor: pointer;
}
.more-spc {
	width: 155px;
	height: 1px;
	float: left;
	margin-left:31px;
	margin-top: 6px;
	margin-bottom: 6px;
	background-color: #e5e5e5;
}
.lbl-bld {
	font-weight: bold;
}
#more {
	width: 154px;
	height: 28px;
	padding-left: 18px;
	font-size: 10pt;
	float: left;
}
#less {
	width: 154px;
	height: 28px;
	padding-left: 18px;
	font-size: 10pt;
	float: left;
	display: none;	
}
.drp-txt span {
    padding-top:7px;
    float: left;
}
.drp-txt:hover, #compose:hover {
	cursor: pointer;
}
#more svg, #less svg {
	margin-left: 3px;
	margin-top: 13px;
}

.no-select, svg {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#side-bar-more {
	width: 202px;
	display: none;
	/* float: left; */
}
.lbl-mng {
	width: 158px;
	height: 23px;
	float: left;
	margin-left:14px;
	padding-left: 18px;
	padding-top: 5px;
	font-size: 10pt;
	color: #1959c9;
}
#mng {
	margin-top:2px;
}
.lbl-mng:hover {
	text-decoration: underline;
	cursor: pointer;
}

#side-bar-footer {
	width: 156px;
	height: 33px;
	margin-left: 30px;
    position: absolute;
    bottom: 0;
    border-top:1px solid #e5e5e5;
}
#btm {
    height:41px;
    width: 100%;
    padding-top:9px;
    margin-bottom:8px;
	border-bottom: 1px solid #d7d7d7;
    /* float: left; */
}
@media (max-width: 1024px) {
    #btm {
	    display: none;
    }
}
.tab {
	float: left;
	width: 235px;
	height: 29px;
	border: 1px solid #d7d7d7;
	background-color: #f5f5f5;
	padding-top: 11px;
	padding-left:16px;
	font-size: 14px;
	border-left: none;
}
.tab:hover {
	cursor:pointer;
}
#tab-hot.tab.active {
	border-top: 2px solid #737373;
	border-right: 1px solid #d7d7d7;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #d7d7d7;
	background-color: #fff;
}
#tab-new.tab.active {
	border-top: 2px solid #4c88e3;
	border-right: 1px solid #d7d7d7;
	border-bottom: 1px solid #fff;
	border-left: none;
	background-color: #fff;
}
#tab-top.tab.active {
	border-top: 2px solid #23a667;
	border-right: 1px solid #d7d7d7;
	border-bottom: 1px solid #fff;
	border-left: none;
	background-color: #fff;
}
/* add these styles dybamically */
#tab-updates.tab.active {
	border-top: 2px solid #e8b23f;
	border-right: none;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #d7d7d7;
	background-color: #fff;
}
#tab-forums.tab.active {
	border-top: 2px solid #a37cdf;
	border-right: none;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #d7d7d7;
	background-color: #fff;
}
/* END add these styles dybamically */

/* change text on hover */
.new-label {
    font-size: 14px;
    white-space: nowrap;
}
#tab-hot .new-label span{
  position: relative;
  content: 'Primary';
}
#tab-hot:hover .new-label span{
  display: none;
}
#tab-hot:hover .new-label:after{
  content: 'Hot';
}
#tab-new .new-label span{
  position: relative;
  content: 'Social';
}
#tab-new:hover .new-label span{
  display: none;
}
#tab-new:hover .new-label:after{
  content: 'New';
}
#tab-top .new-label span{
  position: relative;
  content: 'Promotional';
}
#tab-top:hover .new-label span{
  display: none;
}
#tab-top:hover .new-label:after{
  content: 'Top';
}
/* END change text on hover */

#tab-plus {
    float: left;
    width: 17px;
    height: 28px;
    background-color: #f5f5f5;
    border: 1px solid #d7d7d7;
    border-left: none; 
    padding-top: 12px;
    text-align: center;
    cursor: pointer;
}
#tab-spc {
	height: 1px;
    width: 100%;
	float: left;
	border-bottom: 1px solid #d7d7d7;
	background-color: #fff;
	margin-bottom: 8px;
}
.mail-item {
	height: 40px;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	font-size: 10pt;
	font-weight: bold;
	display: block;
	float: left;
}
.mail-item:hover {
	background-color: RGBA(255, 86, 0, 0.1);
}
a.mail-item:visited {
	background-color: #f5f5f5;
}
.box {
	margin-left: 11px;
	margin-right: 11px;
	margin-top: 12px;
	float: left;
}
.star {
	margin-right: 12px;	
	margin-top: 12px;
	float: left;

}
.imprtnt {
	margin-right: 17px;
	margin-top: 14px;
	float: left;

}
.mail-title {
	width: 165px;
	margin-top: 12px;
	float: left;
	cursor: pointer;
}
.mail-info {
    width: calc(100% - 390px);
	margin-top: 12px;
	margin-left: 25px;
	float: left;
	text-overflow: clip;
	white-space: nowrap;
	overflow: hidden;
}
.mail-info span {
	color: #77777f;
	font-weight: normal;
}
.attach {
	float: left;
	/* margin-left:8px; */
	margin-left:10px;
	margin-top: 16px;
}
.mail-date {
	margin-top:12px;
	/* margin-right: 20px; */
	margin-right: 10px;
	float: right;
	text-align: right;
}
a:link, a:hover, a:visited {
	text-decoration: none !important;
	color: #000;
}
span#donate {
    font-size:10px;
    float:right;
    margin-top: 25px;
    margin-right: 20px;
    margin-bottom: 25px;

    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -o-user-select: all;
    user-select: all;
}
span#donate::selection {
    background: RGBA(255, 86, 0, 0.1);
}
span#donate::-moz-selection {
    background: RGBA(255, 86, 0, 0.1);	
}

/* FIX BORDER RADIUS 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
*/
